.spacer {
    flex: 1 1 auto;
  }
  mat-icon {
    margin-left: 8px; /* Add some space between the username and the icon */
    vertical-align: middle; /* Align the icon with the text */
  }
  .sidenav {
    width: 250px; // Set the width of the sidebar
  }
  
  .mat-sidenav-container {
    height: 100%; // Ensure the container takes full height
  }

  @media (max-width: 768px) {
    .nav-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
  
      &.open {
        display: flex;
      }
  
      a {
        margin: 5px 0;
      }
    }
  
    .menu-toggle {
      display: block;
    }
  }
  @media (max-width: 300px) {
    .nav-bar {
      padding: 5px 10px;
  
      .logo a {
        font-size: 20px;
      }
  
      .menu a {
        font-size: 14px;
      }
  
      .menu-toggle {
        font-size: 20px;
      }
      .toll-bar{
        width:100%
      }
    }
  }
  .toll-bar{
    width:100%
  }